[meta]
name = "Audio Generation"
description = "A blueprint for generating narrated audio segments using AI."
id = "AudioGeneration"
version = "0.1.0"
author = "Tutopanda"
license = "MIT"

[[inputs]]
name = "TextInput"
description = "The text describing the content to be converted into narrated audio."
type = "array"
cardinality = "perSegment"
itemType = "string"
required = true

[[inputs]]
name = "VoiceId"
description = "The ID of the voice to be used for narration."
type = "string"
cardinality = "single"
required = true

[[outputs]]
name = "SegmentAudio"
description = "The narrated audio segments for the movie."
type = "array"
cardinality = "perSegment"
required = true

[graph]
nodes = [
    { inputRef = "TextInput", cardinality = "perSegment" },
    { inputRef = "VoiceId", cardinality = "single" },
    { producerRef = "AudioProducer", cardinality = "perSegment"},
    { outputRef = "SegmentAudio", cardinality = "perSegment" }
]
edges = [
    { from = "TextInput", to = "AudioProducer", perSegment = true },
    { from = "VoiceId", to = "AudioProducer" },
    { from = "AudioProducer", to = "SegmentAudio", perSegment = true }
]

[[producers]]
name = "AudioProducer"
provider = "replicate"
model = "minimax/speech-2.6-hd"
speed = 1.0
pitch = 0
volume = 1
emotion = 'neutral'
english_normalization = true
sample_rate = 32000
bitrate = 128000
channel = 'mono'
language_boost = 'English'
