[meta]
name = "Audio Only Narration"
description = "A blueprint for generating narrated audio segments using AI."
id = "audio"
version = "0.1.0"
author = "Tutopanda"
license = "MIT"

[[inputs]]
name = "InquiryPrompt"
description = "The prompt describing the movie script to be generated."
type = "string"
cardinality = "single"
required = true

[[inputs]]
name = "Duration"
description = "The desired duration of the movie in seconds"
type = "int"
cardinality = "single"
required = true

[[inputs]]
name = "NumOfSegments"
description = "The number of segments to divide the movie into."
type = "int"
cardinality = "single"
required = true

[[inputs]]
name = "VoiceId"
description = "The ID of the voice to be used for narration."
type = "string"
cardinality = "single"
required = true

[[inputs]]
name = "Audience"
description = "The target audience for the movie (e.g., children, adults, experts)."
type = "string"
cardinality = "single"
required = false
default = "Adults"

[[inputs]]
name = "Language"
description = "The language in which the movie will be narrated."
type = "string"
cardinality = "single"
required = false
default = "en"

[[outputs]]
name = "SegmentAudio"
description = "The narrated audio segments for the movie."
type = "array"
cardinality = "perSegment"
required = true

[graph]
subBlueprints = [
    { blueprintRef = "ScriptGeneration", path = "./script-generate.toml"},
    { blueprintRef = "AudioGeneration", path = "./audio-generate.toml" }
]
nodes = [
    { inputRef = "InquiryPrompt", cardinality = "single" },
    { inputRef = "Audience", cardinality = "single" },
    { inputRef = "Duration", cardinality = "single" },
    { inputRef = "Language", cardinality = "single" },
    { inputRef = "NumOfSegments", cardinality = "single" },
    { inputRef = "VoiceId", cardinality = "single" },
    { subBlueprintRef = "ScriptGeneration", cardinality = "single" },
    { subBlueprintRef = "AudioGeneration", cardinality = "perSegment" },
    { outputRef = "SegmentAudio", cardinality = "perSegment" }
]
edges = [
    { from = "InquiryPrompt", to = "ScriptGeneration.InquiryPrompt" },
    { from = "Audience", to = "ScriptGeneration.Audience" },
    { from = "Duration", to = "ScriptGeneration.Duration" },
    { from = "Language", to = "ScriptGeneration.Language" },
    { from = "NumOfSegments", to = "ScriptGeneration.NumOfSegments" },
    { from = "VoiceId", to = "AudioGeneration.VoiceId" },
    { from = "ScriptGeneration.NarrationScript", to = "AudioGeneration.TextInput", perSegment = true },
    { from = "AudioGeneration.SegmentAudio", to = "SegmentAudio", perSegment = true }
]
