[meta]
name = "Audio Generation"
description = "A blueprint for generating narrated audio segments using AI."
id = "AudioGenerator"
version = "0.1.0"
author = "Tutopanda"
license = "MIT"

[[inputs]]
name = "TextInput"
description = "The text describing the content to be converted into narrated audio."
type = "string"
required = true

[[inputs]]
name = "VoiceId"
description = "The ID of the voice to be used for narration."
type = "string"
required = true

[[inputs]]
name = "Emotion"
description = "The emotion description for the audio."
type = "string"
required = false
default = "neutral"

[[outputs]]
name = "SegmentAudio"
description = "The narrated audio segments for the movie."
type = "array"
itemType = "audio"

[graph]
edges = [
    { from = "TextInput", to = "AudioProducer" },
    { from = "VoiceId", to = "AudioProducer" },
    { from = "AudioProducer", to = "SegmentAudio" }
]

[[producers]]
name = "AudioProducer"
provider = "replicate"
model = "minimax/speech-2.6-hd"

[[producers.config]]
speed = 1.0
pitch = 0
volume = 1
english_normalization = true
sample_rate = 32000
bitrate = 128000
channel = 'mono'
language_boost = 'English'

[[producers.sdkMapping]]
TextInput = { field = "text", type = "string", required = true }
Emotion = { field = "emotion", type = "string", required = false }
VoiceId = { field = "voice_id", type = "string", required = false }

[producers.outputs]
SegmentAudio = { type = "audio", mimeType = "audio/mp3" }