[meta]
name = "Audio Only Narration"
description = "A blueprint for generating narrated audio segments using AI."
id = "audio"
version = "0.1.0"
author = "Tutopanda"
license = "MIT"

[[inputs]]
name = "InquiryPrompt"
description = "The prompt describing the movie script to be generated."
type = "string"
required = true

[[inputs]]
name = "Duration"
description = "The desired duration of the movie in seconds"
type = "int"
required = true

[[inputs]]
name = "NumOfSegments"
description = "The number of segments to divide the movie into."
type = "int"
required = true

[[inputs]]
name = "VoiceId"
description = "The ID of the voice to be used for narration."
type = "string"
required = true

[[inputs]]
name = "Audience"
description = "The target audience for the movie (e.g., children, adults, experts)."
type = "string"
required = false
default = "Adult"

[[inputs]]
name = "Emotion"
description = "The emotion description for the audio."
type = "string"
required = false
default = "neutral"

[[inputs]]
name = "Language"
description = "The language in which the movie will be narrated."
type = "string"
required = false
default = "en"

[[artifacts]]
name = "SegmentAudio"
description = "The narrated audio segments for the movie."
type = "array"
itemType = "audio"

[[subBlueprints]]
name = "ScriptGenerator"
path = "./script-generate.toml"

[[subBlueprints]]
name = "AudioGenerator"
path = "./audio-generate.toml"

[graph]
edges = [
    { from = "InquiryPrompt", to = "ScriptGenerator.InquiryPrompt" },
    { from = "Audience", to = "ScriptGenerator.Audience" },
    { from = "Duration", to = "ScriptGenerator.Duration" },
    { from = "Language", to = "ScriptGenerator.Language" },
    { from = "NumOfSegments", to = "ScriptGenerator.NumOfSegments" },
    { from = "ScriptGenerator.NarrationScript[i]", to = "AudioGenerator[i].TextInput" },
    { from = "VoiceId", to = "AudioGenerator[i].VoiceId" },
    { from = "Emotion", to = "AudioGenerator[i].Emotion" },
    { from = "AudioGenerator[i].SegmentAudio", to = "SegmentAudio[i]" }
]
