[meta]
name = "Image Only Narration"
description = "A blueprint for generating images segments using AI."
id = "ImageOnly"
version = "0.1.0"
author = "Tutopanda"
license = "MIT"

[[inputs]]
name = "InquiryPrompt"
description = "The prompt describing the movie script to be generated."
type = "string"
cardinality = "single"
required = true

[[inputs]]
name = "Duration"
description = "The desired duration of the movie in seconds"
type = "int"
cardinality = "single"
required = true

[[inputs]]
name = "NumOfSegments"
description = "The number of segments to divide the movie into."
type = "int"
cardinality = "single"
required = true

[[inputs]]
name = "NumOfImagesPerNarrative"
description = "Number of images to generate per narrative text."
type = "int"
cardinality = "single"
required = false
default = 1

[[inputs]]
name = "ImageStyle"
description = "Text describing the image style to be used."
type = "string"
cardinality = "single"
required = true

[[inputs]]
name = "Size"
description = "Enumerated values, 1K, 2K, 4K or custom describing the image size to be used. "
type = "string"
cardinality = "single"
required = false
default = "1K"

[[inputs]]
name = "AspectRatio"
description = "Enumerated values, 1:1, 4:3, 3:4, 16:9, 9:16, 3:2, 2:3, 21:9 or match_input_image describing the image size to be used. "
type = "string"
cardinality = "single"
required = false
default = "1K"

[[inputs]]
name = "Audience"
description = "The target audience for the movie (e.g., children, adults, experts)."
type = "string"
cardinality = "single"
required = false
default = "Adult"

[[outputs]]
name = "SegmentImage"
description = "The narrated audio segments for the movie."
type = "array"
cardinality = "perSegment"

[graph]
subBlueprints = [
    { blueprintRef = "ScriptGeneration", path = "./script-generate.toml"},
    { blueprintRef = "ImagePromptGeneration", path = "./image-prompt-generate.toml"},
    { blueprintRef = "ImageGenerator", path = "./image-generate.toml" }
]
nodes = [
    { inputRef = "InquiryPrompt", cardinality = "single" },
    { inputRef = "Audience", cardinality = "single" },
    { inputRef = "Duration", cardinality = "single" },
    { inputRef = "NumOfSegments", cardinality = "single" },
    { inputRef = "NumOfImagesPerNarrative", cardinality = "single" },
    { inputRef = "ImageStyle", cardinality = "single" },
    { inputRef = "Size", cardinality = "single" },
    { inputRef = "AspectRatio", cardinality = "single" },
    { subBlueprintRef = "ScriptGeneration", cardinality = "single" },
    { subBlueprintRef = "ImagePromptGeneration", cardinality = "perSegment" },
    { subBlueprintRef = "ImageGenerator", cardinality = "perSegment" },
    { outputRef = "SegmentImage", cardinality = "perSegment" }
]
edges = [
    { from = "InquiryPrompt", to = "ScriptGeneration.InquiryPrompt" },
    { from = "Audience", to = "ScriptGeneration.Audience" },
    { from = "Duration", to = "ScriptGeneration.Duration" },
    { from = "ImageStyle", to = "ScriptGeneration.ImageStyle" },
    { from = "NumOfSegments", to = "ScriptGeneration.NumOfSegments" },
    { from = "ScriptGeneration.NarrationScript", to = "ImagePromptGeneration.NarrativeText", perSegment = true },
    { from = "ScriptGeneration.MovieSummary", to = "ImagePromptGeneration.OverallSummary"},
    { from = "ImageStyle", to = "ImagePromptGeneration.ImageStyle" },
    { from = "Audience", to = "ImagePromptGeneration.Audience"},
    { from = "NumOfImagesPerNarrative", to = "ImagePromptGeneration.NumOfImagesPerNarrative"},
    { from = "ImagePromptGeneration.ImagePrompt", to = "ImageGenerator.Prompt", perSegment = true },
    { from = "ImageStyle", to = "ImageGenerator.ImageStyle" },
    { from = "Size", to = "ImageGenerator.Size"},
    { from = "AspectRatio", to = "ImageGenerator.AspectRatio"},
    { from = "ImageGenerator.SegmentImage", to = "SegmentImage", perSegment = true }
]