[meta]
name = "Image Generator"
description = "A blueprint for generating images using Seedreem-4 model."
id = "ImageGenerator"
version = "0.1.0"
author = "Tutopanda"
license = "MIT"

[[inputs]]
name = "Prompt"
description = "The prompt describing the image to be generated."
type = "string"
required = true

[[inputs]]
name = "Size"
description = "Enumerated values, 1K, 2K, 4K or custom describing the image size to be used. "
type = "string"
required = false
default = "1K"

[[inputs]]
name = "AspectRatio"
description = "Enumerated values, 1:1, 4:3, 3:4, 16:9, 9:16, 3:2, 2:3, 21:9 or match_input_image describing the image size to be used. "
type = "string"
cardinality = "single"
required = false
default = "1K"

[[outputs]]
name = "SegmentImage"
description = "The generated image segment"
type = "image"

[graph]
edges = [
    { from = "Prompt", to = "TextToImageProducer" },
    { from = "Size", to = "TextToImageProducer" },
    { from = "AspectRatio", to = "TextToImageProducer" },
    { from = "TextToImageProducer", to = "SegmentImage" }
]

[[producers]]
name = "TextToImageProducer"
provider = "replicate"
model = "bytedance/seedream-4"

[[producers.config]]
sequential_image_generation = "disabled"
max_images = 1
enhance_prompt = true

[[producers.sdkMapping]]
Prompt = { field = "prompt", type = "string", required = true }
AspectRatio = { field = "aspect_ratio", type = "string", required = false }
Size = { field = "output_size", type = "string", required = false }

[producers.outputs]
SegmentImage = { type = "image", mimeType = "image/png" }