meta:
  name: Video Generation
  description: Generate a video that best reflects the given narrative script.
  id: VideoGenerator
  version: 0.1.0
  author: Tutopanda
  license: MIT

inputs:
  - name: Prompt
    description: The prompt to generate the video.
    type: string
    required: true
  - name: AspectRatio
    description: Aspect ratio such as 16:9 or 3:2.
    type: string
    required: true
  - name: Resolution
    description: The video resolution in 480p, 720p, 1080p
    type: string
    required: false
    default: 480p
  - name: SegmentDuration
    description: The video segment's duration in seconds - Note this is not the movie duration
    type: int
    required: false
    default: 10

artifacts:
  - name: SegmentVideo
    description: Video file for the segment.
    type: video

connections:
  - from: Prompt
    to: VideoProducer
  - from: AspectRatio
    to: VideoProducer
  - from: Resolution
    to: VideoProducer
  - from: SegmentDuration
    to: VideoProducer
  - from: VideoProducer
    to: SegmentVideo

producers:
  - name: VideoProducer
    provider: replicate
    model: bytedance/seedance-1-pro-fast
    config:
      fps: 24
      camera_fixed: false
    sdkMapping:
      Prompt:
        field: prompt
        type: string
        required: true
      AspectRatio:
        field: aspect_ratio
        type: string
        required: true
      Resolution:
        field: resolution
        type: string
        required: true
      SegmentDuration:
        field: duration
        type: int
        required: true
    outputs:
      SegmentVideo:
        type: video
        mimeType: video/mp4
